@media screen and (max-width: 1120px){

    #home-page h1{
        font-size: 3em;
    }

    #home-page p{
        font-size: 0.6em;
    }

}

@media screen and (max-width: 996px){
    .about-me-text{
        font-size: 12.3px;
     }
    
}

@media screen and (max-width: 833px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 3em;
    }
    
    #home-page p{
        font-size: 0.6em;
    }

    
}

@media screen and (max-width: 768px){

    .navbar h1{
        display: none;
    }

    .bi-code-slash{
        color: rgb(255, 255, 255);
        margin-left: 20px;
    }


    #home-page {
        position: relative; 
        overflow: hidden;
    }

    
    #home-page img{
        border-radius: 0 0 40px 40px;
    }
    
    #home-page > div {
        position: absolute;
        top: 30%;

    }

    .conteudo{
        text-shadow: -5px -5px 10px rgba(154, 154, 154, 0.312),
        5px -5px 10px rgba(154, 154, 154, 0.312),
        5px 5px 10px rgba(154, 154, 154, 0.312),
        5px 5px 10px rgba(154, 154, 154, 0.312);
        
    }
    
    
    #home-page h1{
        font-size: 1.5em;
        line-height: 0.9;
    }
    
    #home-page p{
        font-size: 0.7em;
    }


    .code-icon{
        display: none;
    }

    .navbar-collapse{
        background-color: rgba(0, 0, 0, 0.438);

    }

}

@media screen and (max-width: 440px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 2em;
    }
    
    #home-page p{
        font-size: 15px;
    }

    .btn-dark {
        padding: 8px 15px; 
        font-size: 14px; 
    }

    
}