@media screen and (max-width: 1120px){

    #home-page h1{
        font-size: 3em;
    }

    #home-page p{
        font-size: 0.6em;
    }

}

@media screen and (max-width: 996px){
    .about-me-text{
        font-size: 12.3px;
     }
    
}

@media screen and (max-width: 833px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 3em;
    }
    
    #home-page p{
        font-size: 0.6em;
    }

    
}

@media screen and (max-width: 767px){
    .avatar-photo1{
        display: none;
    }

    .avatar-photo1{
        display: none;
    }

    .avatar-photo2{
        display: block;
    }


}

@media screen and (max-width: 440px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 2em;
    }
    
    #home-page p{
        font-size: 15px;
    }

    .btn-dark {
        padding: 8px 15px; /* Reduz o padding em telas pequenas */
        font-size: 14px; /* Reduz o tamanho do texto em telas pequenas */
    }

    .btn-dark i {
        font-size: 20px; /* Reduz o tamanho do ícone em telas pequenas */
    }

    

}