@media screen and (max-width: 1120px){

    #home-page h1{
        font-size: 3em;
    }

    #home-page p{
        font-size: 0.6em;
    }

}

@media screen and (max-width: 996px){
    .about-me-text{
        font-size: 12.3px;
     }
    
}

@media screen and (max-width: 833px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 3em;
    }
    
    #home-page p{
        font-size: 0.6em;
    }

    
}

@media screen and (max-width: 768px){

   

    .navbar{
        background:#F4F4F4;
    }

    .navbar h1{
        display: none;
    }

    .bi-code-slash{
        color: black;
    }

    .nav .nav-link.active{
        background-color: rgba(214, 214, 214, 0.464);
        box-shadow: 2px 2px 20px rgba(187, 187, 187, 0.726);
        color: black;
        transition: 1ms;
    }
    
    .nav .nav-link,
    .nav-brand{
        color: rgb(0, 0, 0);
    }

    .bi-list{
        color: black;
    }

   

    #home-page {
        position: relative; /* Adiciona essa linha para garantir que os elementos filhos usem o section como referência */
        overflow: hidden; /* Isso ajuda a garantir que o conteúdo permaneça dentro do contêiner */
    }

    #home-page img{
        border-radius: 0 0 40px 40px;
    }
    
    #home-page > div {
        position: absolute;
        top: 30%;

    }

    .conteudo{
        text-shadow: -5px -5px 10px rgba(154, 154, 154, 0.312),
        5px -5px 10px rgba(154, 154, 154, 0.312),
        5px 5px 10px rgba(154, 154, 154, 0.312),
        5px 5px 10px rgba(154, 154, 154, 0.312);
        
    }
    
    .fullstack{
        color: black;
        text-shadow: 2px 0px 5px rgb(0, 0, 0);
        margin-left: 25px;
    }
    
    
    #home-page h1{
        font-size: 1.5em;
        line-height: 0.9;
    }
    
    #home-page p{
        font-size: 0.7em;
    }

    #home-page button{
        display: none;
    }

    .code-icon{
        display: none;
    }

    
}

@media screen and (max-width: 440px){
    #home-page h1,p{
        margin-left: 10%;
        margin-bottom: 0;
    }
    
    #home-page h1{
        font-size: 2em;
    }
    
    #home-page p{
        font-size: 15px;
    }

    .btn-dark {
        padding: 8px 15px; /* Reduz o padding em telas pequenas */
        font-size: 14px; /* Reduz o tamanho do texto em telas pequenas */
    }

    .btn-dark i {
        font-size: 20px; /* Reduz o tamanho do ícone em telas pequenas */
    }

    

}