@font-face {
    font-family: "Compacta";
    src: url(../fonts/AC-Compacta_unicode.otf) format('opentype');
}

@font-face {
    font-family: "Mussels";
    src: url(../fonts/TT\ Mussels\ Trial\ Regular.otf) format('opentype');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
    font-family: "Roboto", sans-serif;
}

.navbar{
    background-color: rgb(0, 0, 0);
}


.nav .nav-link.active{
    background-color: white;
    color: black;
    transition: 1ms;
}

.nav .nav-link,
.nav-brand{
    color: white;
}


.btn-dark {
    box-shadow: 1px 0px 10px black;
    background-color: rgba(21, 21, 21, 0.459);
    border: none;
    letter-spacing: 2px;
    font-family: "roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

}

.btn-dark a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn-dark i {
   font-size: 25px;
    color: white;
}




.font-compacta{
    font-family: "Compacta", sans-serif;
}

.font-mussels{
    font-family: "Mussels", sans-serif;
}

#home-page {
    position: relative;
}


#home-page img{
    height: 100%;
    max-height: 800px;
}


#home-page > div{
    position: absolute;
    top: 0; /* Alinha ao topo do contêiner */
    left: 0; /* Alinha à esquerda do contêiner */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    

}

#home-page div{
    font-size: 2rem;
}

#home-page h1,p{
    margin-left: 60%;
    margin-bottom: 0;
}

#home-page h1{
    font-size: 4em;
    line-height: 0.9;
}

#home-page p{
    font-size: 0.9em;
}
